Question1. 
Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
Examples 
evenly_divisible(1, 10, 20) ➞ 0 No number between 1 and 10 can be evenly divided by 20. evenly_divisible(1, 10, 2) ➞ 30 2 + 4 + 6 + 8 + 10 = 30 evenly_divisible(1, 10, 3) ➞ 18 3 + 6 + 9 = 18

In [1]:
def find_mul_and_sum(a,b,c):
    '''This function returns all the multiples of c in the range of a to b'''
    try :
        count,sum=0,0
        l=[]
        for i in range(a,b+1):
            if i%c == 0:
                count+=1
                l.append(i)
                sum+=i
        print('number of multiples of ',c,' in between ',a,' and ',b,' are ',count)
        if count>0:
            print('All those multiples are : ',l)
            print('Sum of all those multiples = ',sum)
    except Exception as e:
        print('Error message is given : ',e)

In [2]:
find_mul_and_sum(1,10,20)

number of multiples of  20  in between  1  and  10  are  0

In [3]:
find_mul_and_sum(1,10,2)

number of multiples of  2  in between  1  and  10  are  5
All those multiples are :  [2, 4, 6, 8, 10]
Sum of all those multiples =  30

In [4]:
find_mul_and_sum(1,10,3)

number of multiples of  3  in between  1  and  10  are  3
All those multiples are :  [3, 6, 9]
Sum of all those multiples =  18

Question2. 
Create a function that returns True if a given inequality expression is correct and False otherwise.
Examples 
correct_signs("3 < 7 < 11") ➞ True 
correct_signs("13 > 44 > 33 > 1") ➞ False 
correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

In [5]:
def check_inequ_exp(s):
    try:    
        l=list(s.split(' '))
        for i in range(0,len(l)-2,2):
            if l[i+1]=='>':    
                if int(l[i]) < int(l[i+2]) :
                    return False
            if l[i+1]=='<':
                if int(l[i]) > int(l[i+2]):
                    return False
        return True
    except Exception as e :
        print("This is a error message :",e)

In [6]:
check_inequ_exp('3 < 7 < 11')

True

In [7]:
check_inequ_exp("13 > 44 > 33 > 1")

False

In [8]:
check_inequ_exp("1 < 2 < 6 < 9 > 3")

True

Question3. 
Create a function that replaces all the vowels in a string with a specified character.
Examples 
replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk" replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?" replace_vowels("shakespeare", "") ➞ "shksp**r"

In [9]:
def replace_vowels(text,character):
    try:
        print('Your original text : ',text)
        l=['a','e','i','o','u','A','E','I','O','U']
        for i in range(len(text)):
            if text[i] in l:
                text=text[:i]+character+text[i+1:]
        return 'After replacement : '+text    
                
    except Exception as e:
        print('This is an error message: ',e)

In [10]:
replace_vowels("the aardvark", "#")

Your original text :  the aardvark

'After replacement : th# ##rdv#rk'

In [11]:
replace_vowels("minnie mouse", "?")

Your original text :  minnie mouse

'After replacement : m?nn?? m??s?'

In [12]:
replace_vowels("shakespeare", "")

Your original text :  shakespeare
This is an error message:  string index out of range

Question4. 
Write a function that calculates the factorial of a number recursively.
Examples 
factorial(5) ➞ 120 
factorial(3) ➞ 6 
factorial(1) ➞ 1 
factorial(0) ➞ 1

In [13]:
def fact(n):
    if n<=1:
        return 1
    if n>1:
        return n*fact(n-1)

In [14]:
fact(5)

120

In [15]:
fact(3)

6

In [16]:
fact(1)

1

In [17]:
fact(0)

1

Question 5
Hamming distance is the number of characters that differ between two strings. To illustrate: String1: "abcbba" String2: "abcbda" Hamming Distance: 1 - "b" vs. "d" is the only difference. Create a function that computes the hamming distance between two strings. 
Examples 
hamming_distance("abcde", "bcdef") ➞ 5 
hamming_distance("abcde", "abcde") ➞ 0 
hamming_distance("strong", "strung") ➞ 1

In [18]:
def hamming_distance(s1,s2):
    try: 
        count=0
        if len(s1)!=len(s2):
            return 'Length of two strings is not same.'
        else :
            for i in range(len(s1)):
                if s1[i]!=s2[i]:
                    count+=1
        return 'Hamming Distance = '+str(count)
    except Exception as e:
        print('This is an Error Message : ',e)

In [19]:
hamming_distance("abcde", "bcdef")

'Hamming Distance = 5'

In [20]:
hamming_distance("abcde", "abcde")

'Hamming Distance = 0'

In [21]:
hamming_distance("strong", "strung")

'Hamming Distance = 1'